.user {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.user-data > p {
  font-size: 20px;
  margin-bottom: 10px;
}

#ip > p {
  font-size: 20px;
  margin-bottom: 10px;
}

#btn {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
}

#btn:hover {
  background-color: #245425;
}

#footer {
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

#footer > a {
  margin: 0 auto;
  padding-top: 10px;
}

#footer > a > img {
  width: 30px;
  height: 30px;
}
