.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.footer {
  display: flex;
  flex-direction: row;
}

.github-img {
  width: 20px;
  height: auto;
}

.footer-figcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.footer-figure {
  margin: 0;
  margin-top: 10px;
  opacity: 0.5;
}

.btn {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #245425;
}
